<div class="container-fluid">
  <h2 class="text-center my-4">投稿一覧</h2>
  <div class="row ml-0">


    <div class="col-md-2 ml-0 fixed-profile">
      <%= render "public/users/profile", user: current_user %>
    </div>

    <div class="col-md-10">
      <%= render "public/posts/posts", posts: @posts %>
    </div>


  </div>
</div>