<div class="container">
  <div class="row">
    <div class="profile col-md-2">
      <%= render "public/users/profile", user: current_user %>
    </div>

    <div class="new-posts col-md-10">
      <%= render "new", post: @post %>
      <%= render "public/posts/posts", posts: @posts %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @posts %>
  </div>
</div>