// Place all the styles related to the public/records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.record-link {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chest {
 background-color: #FF0000;
}

.back {
 background-color: #008080;
}

.arm {
 background-color: #808080;
}

.shoulder {
 background-color: #0000FF;
}

.stomach {
 background-color: #FF00FF;
}

.leg {
 background-color: #000080;
}

.simple-calendar {
 .day {}
 .wday-0 {}
 .wday-1 {}
 .wday-2 {}
 .wday-3 {}
 .wday-4 {}
 .wday-5 {}
 .wday-6 {}
 .today {}
 .past {}
 .future {}
 .start-date {}
 .prev-month {}
 .next-month { }
 .current-month {}
 .has-events {}
}