<h1>LIMIT BREAKERについて</h1>

<h2>サイトテーマ</h2>
<p>自分の筋力トレーニングを記録、管理したり、他の人がどんな筋力トレーニングをしているか確認できるSNSサイトです。</p>

<h2>ターゲットユーザ</h2>
<ul>
  <li>日々のトレーニングメニューの記録を簡単に記録し、確認できるようになりたい人。</li>
  <li>日々のトレーニングメニューで重量やレップ数を上げたいと考えている人。</li>
  <li>自身でトレーニングメニューを考えるのが苦手で、他の人のトレーニングメニューを参考にしたいと考えている人。</li>
</ul>

<h2>主な利用シーン</h2>
<ul>
  <li>筋力トレーニング前に前回の記録を確認し、今回のメニュー、目標回数、重量を決める時。</li>
  <li>筋力トレーニング後に今回行ったメニュー、回数、重量を記録したい時。</li>
</ul>