  <div class="container">
    <div class="row">
      <!-- ユーザープロフィール表示 -->
      <div class="profile col-md-2">
        <%= render "profile", user: current_user %>
      </div>

      <div class="mypage-posts col-md-10">
        <%= render "public/posts/posts", posts: @posts %>
      </div>
    </div>
  </div>
